<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>libproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>util</display-name>
    <servlet-name>util</servlet-name>
    <servlet-class>libbook.util</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>util</servlet-name>
    <url-pattern>/util</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>libbookadmin.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin1</display-name>
    <servlet-name>admin1</servlet-name>
    <servlet-class>libbookadmin.admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin1</servlet-name>
    <url-pattern>/admin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin2</display-name>
    <servlet-name>admin2</servlet-name>
    <servlet-class>libbookadmin.admin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin2</servlet-name>
    <url-pattern>/admin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userpass</display-name>
    <servlet-name>userpass</servlet-name>
    <servlet-class>libbookadmin.userpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpass</servlet-name>
    <url-pattern>/userpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userpass1</display-name>
    <servlet-name>userpass1</servlet-name>
    <servlet-class>libbookuser.userpass1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpass1</servlet-name>
    <url-pattern>/userpass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutadmin</display-name>
    <servlet-name>logoutadmin</servlet-name>
    <servlet-class>libbookadmin.logoutadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutadmin</servlet-name>
    <url-pattern>/logoutadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchbook</display-name>
    <servlet-name>searchbook</servlet-name>
    <servlet-class>libbookuser.searchbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchbook</servlet-name>
    <url-pattern>/searchbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutuser</display-name>
    <servlet-name>logoutuser</servlet-name>
    <servlet-class>libbookuser.logoutuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutuser</servlet-name>
    <url-pattern>/logoutuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewallbook</display-name>
    <servlet-name>viewallbook</servlet-name>
    <servlet-class>libbookuser.viewallbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewallbook</servlet-name>
    <url-pattern>/viewallbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookissues</display-name>
    <servlet-name>bookissues</servlet-name>
    <servlet-class>libbookuser.bookissues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookissues</servlet-name>
    <url-pattern>/bookissues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>extendpage</display-name>
    <servlet-name>extendpage</servlet-name>
    <servlet-class>libbookuser.extendpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extendpage</servlet-name>
    <url-pattern>/extendpage</url-pattern>
  </servlet-mapping>
</web-app>